#project-title {
    color: #4f99fe;
    font-size: 30px;
}

.my-pic {
    padding: 10px;
    border-radius: 35px;
}

.section {
    margin-top: 30px;
    min-height: 100vh;
    margin-bottom: 25px;
}

.about-me {
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
    text-align: left;
    /* font-size: 18px; */
}