.header-container {
    overflow: hidden;
}


.navtabs {
   text-align: left;
    padding: 2px 35px;
    margin: 0
}

.link {
    color: #e393fc;
    font-weight: bold;
    margin: 20px;
    font-size: 25px;
    border: 1px solid #e393fc;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.img {
    min-width: 800px;
    overflow: hidden;
}


.link:hover {
    color: #52bdd0;
    border: 1px solid #52bdd0;
}